---
import Tag from "./Tag.astro";
---

<div class="tags">
  <p>Expertise</p>
  <Tag path="/" text="Branding" />
  <Tag path="/" text="Product" />
  <Tag path="/" text="Design System" />
</div>

<style>
  .tags {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
