---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import NavSpacer from "../components/NavSpacer.astro";
import SectionBlock from "../components/SectionBlock.astro";
import H1 from "../components/H1.astro";
import Tags from "../components/Tags/Tags.astro";
import Cards from "../components/Cards/Cards.astro";
---

<Layout title="Oh! Studio | About Page">
  <main>
    <Header />
    <NavSpacer />
    <SectionBlock isHero={true}>
      <div class="spacer-3 gap-4 column align-center">
        <H1 text="A brand and product designer working with clients globally" />
        <Tags />
      </div>
    </SectionBlock>
    <SectionBlock>
      <Cards />
    </SectionBlock>

    <style>
      html {
        box-sizing: border-box;
      }

      main {
        margin: auto;
        padding: 0rem;
        max-width: 100%;
        font-size: 2rem;
        line-height: 1.6;
      }

      .spacer-3 {
        padding: 3rem;
      }

      .gap-4 {
        display: flex;
        gap: 4rem;
      }

      .column {
        display: flex;
        flex-direction: column;
      }

      .align-center {
        align-items: center;
      }

      .justify-center {
        justify-content: center;
      }
    </style>
  </main>
</Layout>
