---

---

<div class="contact-hero">
  <div class="flex-column">
    <div class="w-100">
      <h2 class="subtitle">Let's work together.</h2>
    </div>
    <div class="w-100">
      <h2 class="subtitle">
        <a href="/contact" class="subtitle-link">Get in touch</a>
      </h2>
    </div>
  </div>
</div>

<style>
  .contact-hero {
    width: 100%;
    padding: 4rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .w-100 {
    display: block;
    width: 100%;
    flex: 1 1 auto;
  }

  .subtitle {
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1.2em;
    text-align: center;
  }

  .subtitle-link {
    color: var(--grey);
    text-decoration: none;
  }
</style>
