---
const { path, text, isActive } = Astro.props;
---

<li class=`nav-link ${isActive && "active"}`>
  <a href={path}>{text}</a>
</li>

<style>
  .nav-link {
    border-radius: 5rem;
    padding: 0 3rem;
    list-style: none;
    height: 4rem;

    &:is(.active) {
      background: var(--white);
    }

    & a {
      text-decoration: none;
      color: var(--black);
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
</style>
