---
const { isHero } = Astro.props;
---

<section>
  <div class={isHero && "hero-wrapper"}>
    <slot />
  </div>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    height: min-content;
    overflow: hidden;
  }

  .hero-wrapper {
    display: flex;
    flex-flow: column;
    max-width: 1400px;
    gap: 4rem;
  }
</style>
