---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--olive: #fbffa7;
		--green: #b6ffc0;
		--blue: #0000ff;
		--dark-grey: #b1c5ff;
		--dark-grey-2: #d5b3ff;
		--orange: #ff764d;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--olive)),
			rgb(var(--dark-grey)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
